
.wrapper {
    padding-top: 100px;
    color: beige;
}
.weather {
    background-color: #74956B;
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3);
    &__loading{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 50px;
        }
    }
  &__header {
      display: flex;
  }
  &__main {
      flex: 1 1 auto;
  }
  &__city {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 15px;
  }
  &__status {
      font-size: 20px;
      margin-bottom: 20px;
  }
  &__temp {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 10px;
  }
  &__feels-like {
      &::after{
          display: inline-block;
          margin-left: 5px;
          content: "℃";
      }
  }
}