*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    background-color: #383838;
}
body.lock{
    overflow: hidden;
}
a{
    color: red;
}
a:hover{
    text-decoration: none;
}
p{
    margin: 0 0 20px 0;
}
.wrapper{
    overflow: hidden;
    line-height: 30px;
}
._container{
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    margin: 0 0 50px 0;
}
.header__container{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.header__phone{
    color: #fff;
}
.content{
    padding: 130px 0 0 0;
}
.content__section{
    margin: 0 0 50px 0;
}
.content__section_row{
    margin: 0 -20px 50px;
}
@media(min-width: 992px){
    .content__section_row{
        display: flex;
    }
}
.content__body{
    flex: 0 1 50%;
    padding: 0 20px;
}
.content__title{
    font-size: 40px;
    margin: 0 0 0.5em 0;
}
.content__image{
    display: block;
    padding: 0 20px;
    flex: 0 1 50%;
}
.content__image img{
    max-width: 500px;
    max-height: 400px;
}
.content__subtitle{
    font-size: 30px;
    margin: 0 0 0.5em 0;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup.open{
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content{
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;
}
.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__content_image{
    padding: 0;
}
.popup__image img{
    max-width: 100%;
    vertical-align: top;
}
.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;

}
.popup__title {
    font-size: 40px;
    margin: 0 0 1em 0;
}
.popup__text {
}